body {
    font-family: Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 20px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    margin: 20px;
}

a {
    display: flex;
    justify-content: center;
    color: aquamarine;
    font-size: 16px;
}

footer {
    color: grey;
    text-align: right;
}

.product-video {
    margin: 2% auto;
}

.product-description {
    color: grey;
    font-size: 21px;
}

.product-image {
    margin: 20px;
}

.box {
    display:flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}

